demo/target/classes/com/example/helloworld/App.class
demo/target/surefire-reports/2025-01-18T17-19-06_771-jvmRun1-commands.bin
demo/target/surefire-reports/2025-01-18T17-19-06_771-jvmRun1.dump
demo/target/surefire-reports/2025-01-18T17-24-18_360-jvmRun1-commands.bin
demo/target/surefire-reports/2025-01-18T17-24-18_360-jvmRun1.dump
demo/target/test-classes/com/example/helloworld/AppTest.class
